In [ ]:
Q1. zoo.data, zoo.names읽기, 저장하기

In [11]:
import pandas as pd 
import numpy as np
from pandas import DataFrame 

DataFrame()

Empty DataFrame
Columns: []
Index: []

In [23]:
zoo=pd.read_csv("zoo.data")
zoo

,aardvark,1,0,0.1,1.1,0.2,0.3,1.2,1.3,1.4,1.5,0.4,0.5,4,0.6,0.7,1.6,1.7
0,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
1,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
2,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
3,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
4,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
96,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
97,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
98,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
99,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [ ]:
columns=["animalname","hair","feathers","eggs","milks","airborne","aquatic","predator","toothed",
"backbone","breathes","venomous","fins","legs","tail","domestic","catsize","type"]

In [33]:
f=open("C:/Users/student/Downloads/zoo.data","r")
lines=f.readlines()
f.close()

In [37]:
import re

In [104]:
zoo_name=[]

f=open("C:/Users/student/Downloads/zoo.names","r")
for line in f:
    pat=re.compile("\s+[0-9]+[.]\s+(?P<name>[ a-z]+)")
    m=pat.findall(line)
    #print(m)
    if m!=[]:
        zoo_name.append(m[0])
print(zoo_name)
               
f.close()

['animal name', 'hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize', 'type']

In [106]:
zoo=pd.read_csv("zoo.data", names=zoo_name, index_col="animal name")
zoo

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
animal name,,,,,,,,,,,,,,,,,
aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2